* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --main-color: rgba(73, 53, 53, 1);
    --color-drak:rgba(217, 217, 217, 1);
    --text-grey:rgba(150, 65, 65, 1);
}
.side-bar{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}
.sidebar-brand{
    height: 90px;
    padding:  1rem 0rem  1rem 2rem;
    color: aliceblue;
    
}
.sidebar-brand h2 span{
    display: inline-block;
    padding-right: 1rem;

}
.main-content{
    margin-left:  345px ;
}